{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wage and Salaried workers</title>
	<link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'website/css/datepicker3.css' %}" rel="stylesheet">
	<link href="{% static 'website/css/styles.css' %}" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="{% static 'website/js/html5shiv.js' %}"></script>
	<script src="{% static 'website/js/respond.min.js' %}"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>ECONOMY STATISTICS</span></a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Radhemohan Yadav</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li class="active"><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> DASHBOARD</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-users">&nbsp;</em> EMPLOYMENT <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="Overall_Employment.html">
						<span class="fa fa-arrow-right">&nbsp;</span> Overall Employment
					</a></li>
					<li><a class="" href="Male_Unemployment.html">
						<span class="fa fa-arrow-right">&nbsp;</span> Male Unemployment 
					</a></li>
					<li><a class="" href="Female_Unemployment.html">
						<span class="fa fa-arrow-right">&nbsp;</span> Female Unemployment
					</a></li>
					<li><a class="" href="Employment_in_Industries.html">
						<span class="fa fa-arrow-right">&nbsp;</span> Employment in Industries
					</a></li>
					<li><a class="" href="Wage_and_Salaried_workers.html">
						<span class="fa fa-arrow-right">&nbsp;</span> Wage and Salaried workers
					</a></li>
					<li><a class="" href="Vulnerable_Employment.html">
						<span class="fa fa-arrow-right">&nbsp;</span>  Vulnerable Employment
					</a></li>
					<li><a class="" href="Employed_vs_Unemployed.html">
						<span class="fa fa-arrow-right">&nbsp;</span> Employed vs Unemployed
					</a></li>
				</ul>	
			</li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-2">
				<em class="fa fa-briefcase">&nbsp;</em> TAX <span data-toggle="collapse" href="#sub-item-2" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>	
				<ul class="children collapse" id="sub-item-2">
					<li><a class="" href="Corporate_and_Personal_Taxes.html">
						<span class="fa fa-square">&nbsp;</span> Corporate and Personal Taxes
					</a></li>
					<li><a class="" href="Total_Tax.html">
						<span class="fa fa-square">&nbsp;</span> Total Tax
					</a></li>
					<li><a class="" href="GDP_rate_and_Tax_rate.html">
						<span class="fa fa-square">&nbsp;</span> GDP rate and Tax rate
					</a></li>
					<li><a class="" href="Return_field_by_category.html">
						<span class="fa fa-square">&nbsp;</span> Return field by category
					</a></li>
				</ul>
			</li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-3">
				<em class="fa fa-navicon">&nbsp;</em> OTHER <span data-toggle="collapse" href="#sub-item-3" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-3">
					<li><a class="" href="Seasonality_and_trend_of_GDP.html">
						<span class="fa fa-circle">&nbsp;</span> Seasonality and trend of GDP
					</a></li>
				</ul>		
			</li>
			<li><a href="DIGITAL_PAYMENT.html"><em class="fa fa-tablet">&nbsp;</em> DIGITAL PAYMENT </a></li>
			<li><a href="GDP_GROWTH.html"><em class="fa fa-line-chart">&nbsp;</em> GDP GROWTH </a></li>
			<li><a href="login.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Wage and Salaried workers</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Wage and Salaried workers</h1>
			</div>
		</div><!--/.row-->
        <div class="panel panel-container">
			<div>

					Due to lack of data regarding the employment of various sectors
					we could not accommodate those into the employment dataset.<br>
					We tried calculate the rate at which we need to increase employ-
					ment to accommodate the entire working population in the work-
					force in the next decade or so. But, we could not find a suitable

			</div><!--/.row-->
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Sample Graph
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<ul class="dropdown-settings">
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart " id="wchart" height="100" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->

		<div class="panel panel-container">
			<div>

					Due to lack of data regarding the employment of various sectors
					we could not accommodate those into the employment dataset.<br>
					We tried calculate the rate at which we need to increase employ-
					ment to accommodate the entire working population in the work-
					force in the next decade or so. But, we could not find a suitable

			</div><!--/.row-->
		</div>
		<div>

			<div class="col-sm-12">
				<p class="back-link">DEV TEAM BY <a href="https://www.medialoot.com">RADHE & SOUVIK</a></p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->


	<script src="{% static 'website/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'website/js/chart.min.js' %}"></script>
	<script src="{% static 'website/js/easypiechart.js' %}x"></script>
	<script src="{% static 'website/js/easypiechart.js' %}"></script>
	<script src="{% static 'website/js/easypiechart-data.js' %}"></script>
	<script src="{% static 'website/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'website/js/custom.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
<script>

var ctx = document.getElementById("wchart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"],
        datasets: [{
            label: 'Data of Chart',
            data: [15.3000001907349,15.3100004196167,15.25,15.3599996566772,15.5100002288818,15.6300001144409,15.8699998855591,16.1299991607666,16.2099990844727,16.4400005340576,16.6800003051758,17.9699993133545,19.3199996948242,19.8799991607666,20.5,21.1800003051758,21.9200000762939,22.6599998474121,23.4599990844727,24.1700000762939],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: false
            }
        }
    }
});
</script>
		
</body>
</html>